.elementor-83 .elementor-element.elementor-element-8a349ae > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-83 .elementor-element.elementor-element-8a349ae{margin-top:102px;margin-bottom:0px;padding:0% 2% 0% 2%;}.elementor-83 .elementor-element.elementor-element-87e4cac > .elementor-element-populated{margin:0px 10px 0px 0px;--e-column-margin-right:10px;--e-column-margin-left:0px;}.elementor-83 .elementor-element.elementor-element-055e54f .aux-modern-heading-primary{font-family:"Poppins", Sans-serif;font-size:16px;font-weight:500;line-height:25px;letter-spacing:-0.48px;color:var( --e-global-color-primary );}.elementor-83 .elementor-element.elementor-element-055e54f .aux-modern-heading-secondary{font-family:"Poppins", Sans-serif;font-size:40px;font-weight:bold;line-height:73px;letter-spacing:-1.2px;color:var( --e-global-color-text );margin:0px 0px 16px 0px;}.elementor-83 .elementor-element.elementor-element-055e54f .aux-modern-heading-description{color:var( --e-global-color-text );font-size:16px;font-weight:400;line-height:30px;max-width:429px;}.elementor-83 .elementor-element.elementor-element-055e54f{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-83 .elementor-element.elementor-element-0a3675c input:not([type="submit"]){transition:all ease-out 0.3s;}.elementor-83 .elementor-element.elementor-element-0a3675c input[type="text"]{transition:all ease-out 0.3s;}.elementor-83 .elementor-element.elementor-element-0a3675c input[type="email"]{transition:all ease-out 0.3s;}.elementor-83 .elementor-element.elementor-element-0a3675c select{transition:all ease-out 0.3s;}.elementor-83 .elementor-element.elementor-element-0a3675c textarea{transition:all ease-out 0.3s;}.elementor-83 .elementor-element.elementor-element-0a3675c input[type="submit"]{transition:all ease-out 0.3s;}.elementor-83 .elementor-element.elementor-element-0a3675c{animation-delay:150ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-83 .elementor-element.elementor-element-78da708 > .elementor-element-populated{margin:0px 0px 0px 82px;--e-column-margin-right:0px;--e-column-margin-left:82px;}.elementor-83 .elementor-element.elementor-element-4d6d4fd{margin-top:48px;margin-bottom:25px;}.elementor-83 .elementor-element.elementor-element-556b2ed{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-83 .elementor-element.elementor-element-6216b64 .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-83 .elementor-element.elementor-element-6216b64 .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-83 .elementor-element.elementor-element-6216b64 .col-title a, .elementor-83 .elementor-element.elementor-element-6216b64 .col-title{color:var( --e-global-color-text );}.elementor-83 .elementor-element.elementor-element-6216b64 .col-title, .elementor-83 .elementor-element.elementor-element-6216b64 .col-title a{font-size:16px;font-weight:bold;line-height:25px;letter-spacing:0.48px;}.elementor-83 .elementor-element.elementor-element-6216b64 .col-subtitle{color:var( --e-global-color-text );font-size:15px;font-weight:400;line-height:25px;letter-spacing:-0.45px;}.elementor-83 .elementor-element.elementor-element-6216b64 .aux-widget-advanced-text{text-align:left !important;}.elementor-83 .elementor-element.elementor-element-373a7ae{animation-delay:150ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-83 .elementor-element.elementor-element-a72d7b0 .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-83 .elementor-element.elementor-element-a72d7b0 .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-83 .elementor-element.elementor-element-a72d7b0 .col-title a, .elementor-83 .elementor-element.elementor-element-a72d7b0 .col-title{color:var( --e-global-color-text );}.elementor-83 .elementor-element.elementor-element-a72d7b0 .col-title, .elementor-83 .elementor-element.elementor-element-a72d7b0 .col-title a{font-size:16px;font-weight:bold;line-height:25px;letter-spacing:0.48px;}.elementor-83 .elementor-element.elementor-element-a72d7b0 .col-subtitle{color:var( --e-global-color-text );font-size:15px;font-weight:400;line-height:25px;letter-spacing:-0.45px;}.elementor-83 .elementor-element.elementor-element-a72d7b0 .aux-widget-advanced-text{text-align:left !important;}.elementor-83 .elementor-element.elementor-element-3fa0398{animation-delay:300ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-83 .elementor-element.elementor-element-505cd97 .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-83 .elementor-element.elementor-element-505cd97 .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-83 .elementor-element.elementor-element-505cd97 .col-title a, .elementor-83 .elementor-element.elementor-element-505cd97 .col-title{color:var( --e-global-color-text );}.elementor-83 .elementor-element.elementor-element-505cd97 .col-title, .elementor-83 .elementor-element.elementor-element-505cd97 .col-title a{font-size:16px;font-weight:bold;line-height:25px;letter-spacing:0.48px;}.elementor-83 .elementor-element.elementor-element-505cd97 .col-subtitle{color:var( --e-global-color-text );font-size:15px;font-weight:400;line-height:25px;letter-spacing:-0.45px;}.elementor-83 .elementor-element.elementor-element-505cd97 .aux-widget-advanced-text{text-align:left !important;}@media(min-width:768px){.elementor-83 .elementor-element.elementor-element-87e4cac{width:96.85%;}.elementor-83 .elementor-element.elementor-element-78da708{width:3.134%;}}@media(max-width:1024px) and (min-width:768px){.elementor-83 .elementor-element.elementor-element-87e4cac{width:50%;}.elementor-83 .elementor-element.elementor-element-78da708{width:50%;}.elementor-83 .elementor-element.elementor-element-556b2ed{width:50%;}.elementor-83 .elementor-element.elementor-element-373a7ae{width:50%;}.elementor-83 .elementor-element.elementor-element-3fa0398{width:100%;}}@media(max-width:1024px){.elementor-83 .elementor-element.elementor-element-87e4cac > .elementor-element-populated{margin:0px 20px 0px 0px;--e-column-margin-right:20px;--e-column-margin-left:0px;}.elementor-83 .elementor-element.elementor-element-055e54f .aux-modern-heading-primary{margin:0px 0px -12px 0px;}.elementor-83 .elementor-element.elementor-element-055e54f .aux-modern-heading-secondary{font-size:34px;margin:0px 0px -8px 0px;}.elementor-83 .elementor-element.elementor-element-055e54f .aux-modern-heading-description{font-size:14px;line-height:23px;}.elementor-83 .elementor-element.elementor-element-78da708 > .elementor-element-populated{margin:0px 0px 0px 20px;--e-column-margin-right:0px;--e-column-margin-left:20px;}.elementor-83 .elementor-element.elementor-element-6216b64 .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-83 .elementor-element.elementor-element-6216b64 .aux-ico-box{padding:0px 0px 0px 0px;}.elementor-83 .elementor-element.elementor-element-6216b64 .col-subtitle{font-size:12px;line-height:14px;}.elementor-83 .elementor-element.elementor-element-a72d7b0 .col-subtitle{font-size:12px;}.elementor-83 .elementor-element.elementor-element-505cd97 .col-subtitle{font-size:12px;}}@media(max-width:767px){.elementor-83 .elementor-element.elementor-element-87e4cac > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-83 .elementor-element.elementor-element-78da708 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-83 .elementor-element.elementor-element-4d6d4fd{margin-top:55px;margin-bottom:0px;}}/* Start custom CSS for aux_contact_form, class: .elementor-element-0a3675c */.elementor-83 .elementor-element.elementor-element-0a3675c input[type=email], .elementor-83 .elementor-element.elementor-element-0a3675c .wpcf7 textarea, .wpcf7 input[type=text] {
     border-radius: 50px;
     border: none;
     background-color: #efefef;
     padding: 29px 0px 29px 35px;
     margin-bottom: 0;
      font-weight: bold;
    color: var(--e-global-color-text);
}
.elementor-83 .elementor-element.elementor-element-0a3675c .wpcf7 textarea{
     border-radius: 20px;
     height: 263px;
     min-height: 263px;
}

.elementor-83 .elementor-element.elementor-element-0a3675c input::-moz-placeholder { /* Firefox 19+ */
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    color:rgba(0,0,0,0.50);
    font-style: normal;
    line-height: 19px;
}
.elementor-83 .elementor-element.elementor-element-0a3675c input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    color:rgba(0,0,0,0.50);
    font-style: normal;
    line-height: 19px;
}
.elementor-83 .elementor-element.elementor-element-0a3675c .wpcf7 textarea::-moz-placeholder { /* Firefox 19+ */
   font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    color:rgba(0,0,0,0.50);
    font-style: normal;
    line-height: 19px;
}

.elementor-83 .elementor-element.elementor-element-0a3675c .wpcf7 textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    color:rgba(0,0,0,0.50);
    font-style: normal;
    line-height: 19px;
}
.elementor-83 .elementor-element.elementor-element-0a3675c .wpcf7 input[type="submit"] {
    background-color: var(--e-global-color-primary);
    border-radius: 25px;
    padding: 15px 70px;
    margin-right: 0;
    margin-left: auto;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: -0.48px;
    line-height: 19px;
      margin-right: -21px!important;
}
.elementor-83 .elementor-element.elementor-element-0a3675c .wpcf7-form:last-child{
    text-align: right;
  
}
.elementor-83 .elementor-element.elementor-element-0a3675c .wpcf7 input[type="submit"]:hover{
    background-color: var(--e-global-color-text);
       
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-6216b64 */.elementor-83 .elementor-element.elementor-element-6216b64 .col-title{
    display: inline-block;
}
.elementor-83 .elementor-element.elementor-element-6216b64 .col-subtitle{
    display: inline;
}
.elementor-83 .elementor-element.elementor-element-6216b64 .aux-ico-box{
    max-width: 89%!important;
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-a72d7b0 */.elementor-83 .elementor-element.elementor-element-a72d7b0 .col-title{
    display: inline-block;
}
.elementor-83 .elementor-element.elementor-element-a72d7b0 .col-subtitle{
    display: inline;
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-505cd97 */.elementor-83 .elementor-element.elementor-element-505cd97 .col-title{
    display: inline-block;
}
.elementor-83 .elementor-element.elementor-element-505cd97 .col-subtitle{
    display: inline;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-4d6d4fd */.elementor-83 .elementor-element.elementor-element-4d6d4fd .aux-widget-advanced-text {
       justify-content: flex-end;
}
@media only screen and (max-width: 1025px)and (min-width: 767px) {
.elementor-83 .elementor-element.elementor-element-4d6d4fd .aux-widget-advanced-text {
       justify-content: center;
}
}
@media only screen and (max-width: 767px) {
.elementor-83 .elementor-element.elementor-element-4d6d4fd .aux-widget-text .aux-ico-pos-left{
    flex-direction: column;
}
}
@media only screen and (max-width:1113px)and (min-width:1025px) {
.elementor-83 .elementor-element.elementor-element-4d6d4fd .col-title{
    font-size: 14px;
}
.elementor-83 .elementor-element.elementor-element-4d6d4fd .col-subtitle{
   font-size: 12px;
}
}/* End custom CSS */